{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Sensor Data {% endblock %}</h1>
    <div class="content">
        {% for article in article %}
            <div class="article">
                <p><b>#{{ article.id }}</b></p>
                <b>
                    <div class="name">

                      <p> id:  {{ article.id }} </p>
 
                    </div>
                </b>
                <p>title: {{ article.title }}</p>
                <p>body: {{ article.body }}</p>
                <p class="bio">created: {{ article.date }}</p>
               
            </div>
        {% endfor %}
    </div>
{% endblock %}